menu "User Module Option"
    source "$ProjectPath/module_components/command_components/Kconfig"
    source "$ProjectPath/module_components/get_id/Kconfig"
    source "$ProjectPath/module_components/get_version/Kconfig"
    source "$ProjectPath/module_components/get_module/Kconfig"
    source "$ProjectPath/module_components/heart_beat/Kconfig"
    source "$ProjectPath/module_components/read_info/Kconfig"
    source "$ProjectPath/module_components/restart/Kconfig"
    source "$ProjectPath/module_components/set_info/Kconfig"
    source "$ProjectPath/module_components/wuart/Kconfig"
    source "$ProjectPath/module_components/gpio_manager/Kconfig"
    source "$ProjectPath/module_components/I2C_Tool/Kconfig"
    source "$ProjectPath/module_components/SSD1306/Kconfig"
    source "$ProjectPath/module_components/stm32isp_programer/Kconfig"
endmenu
